node_modules/
uploads/hospitals/**.jpg
uploads/hospitals/**.gif
uploads/hospitals/**.png

uploads/users/**.jpg
uploads/users/**.gif
uploads/users/**.png

uploads/medics/**.jpg
uploads/medics/**.gif
uploads/medics/**.png
.env